# Berisi contoh variabel environment (rahasia)
FLASK_APP=app.py
FLASK_ENV=production
SECRET_KEY=ganti_dengan_kunci_rahasia_anda
# Jika suatu saat menggunakan database external seperti PostgreSQL/MySQL:
# DATABASE_URL=postgres://user:pass@host:5432/dbname

# Supabase Configurations
SUPABASE_URL=https://your-project-id.supabase.co
SUPABASE_KEY=your-supabase-anon-key
